# Build artifacts
build/
dist/
*.o
*.a
*.so
cyrenus
web/dist
web/node_modules
# Logs and Databases
*.log
*.db
*.sqlite
.vscode
# NodeJS
node_modules/
npm-debug.log

# VSCode
.vscode/

# System
.DS_Store
cyrenus.db
attack.sh
cyrenus.log
/cyrenus.db
/attack.sh
/cyrenus.log
