@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #16213e; 
}
::-webkit-scrollbar-thumb {
  background: #2d3e5e; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3e527a; 
}
